body
{
  margin:0;
  padding:0;
}

/* Centrer H2 */

.h2
{
  justify-content: center;
}

.info
{
  position: fixed;
  justify-content: center;
  text-align: center;
  letter-spacing: 3px;
  z-index: 99; 
  top: -15px;
  width:100%;
}

.titre
{
    font-size: 20px;
    margin-top: 75px;
}

.photo
{
  width : 200px; height : 300px;
  border: none;
  -moz-border-radius : 100px;
  -webkit-border-radius : 100px;
  border-radius : 100px;
}

.photoPositionement
{
  display: flex;
  justify-content: center;
	align-items: baseline;
  padding-top: 30px;
}

.flip-card
{
  margin-left: 20px;
  margin-right: 20px;
}

h1
{
  color: #000;
  text-align: center;
}

.figcaption
{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.formulaire_bootstrap
{
  padding-top: 100px;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color:blue;
  color: white;
  transform: rotateY(180deg);
}

/*
flip card system
*/
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

.bas
{
  padding-top: 30px;
}

.card{
  height: 300px;
}

/* Retouche des images */

.card img {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width:100%;
  max-width:100%;
  min-height:100%;
  max-height:100%;
}


/* Placement du lien dans les flip card */

.card-body a {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

/* Cela permet au formulaire d'avoir une taille maximum de 500 pixels peut importe la taille de l'écran */

.form-control
{
  max-width: 500px;
}



